@viewport {
  width: device-width; /* largeur du viewport */
  zoom: 1;
}
@-webkit-viewport{
  width: device-width;
  zoom: 1;
 }
@-moz-viewport{
  width: device-width;
  zoom: 1;
}
@-ms-viewport{
  width: device-width;
  zoom: 1;
}
@-o-viewport{
  width: device-width;
  zoom: 1;
}

html { background-color: #DDDDDD;height:100%;padding-bottom: 0px;}

body {
  background-color: #ffffff;
  text-decoration: none;
  position : relative;
  box-sizing: border-box;
  padding-bottom : 50px;
  min-height:100%;
}

@media screen and (min-width: 901px){
  @viewport {
    width: device-width;
    zoom: 1;
  }
  @-webkit-viewport{
    width: device-width;
  }
  @-moz-viewport{
    width: device-width;
  }
  @-ms-viewport{
    width: device-width;
  }
  @-o-viewport{
    width: device-width;
  }
  body { 
    max-width:1200px;
    margin:auto;
  }
  #header0{
    height:121px;
    background:url(/images/pix1.gif) no-repeat;
  }
  #header1{
    height:121px;
    background-image:url(/images/pix2.gif);
    background-position:left;
  }
  #header2{
    height:35px;
    background-image:url(/images/pix3b.gif);
    background-position:left;
    background-repeat:no-repeat;
    padding-left:204px;
  }
  a:hover { text-decoration: none; color : #DD6900;}
  .gallerie .vignette img:hover{ 
    text-decoration: none;
    width:400px; 
    margin-top:-50px;
    margin-left:-100px; 
    z-index:100; 
    border:6px solid rgba(0,0,0,0.7); 
  }
}

@media screen and (min-width: 413px) and (max-width: 900px) {
  @viewport {
    width: device-width;
    zoom: 1;
  }
  @-webkit-viewport{
    width: device-width;
  }
  @-moz-viewport{
    width: device-width;
  }
  @-ms-viewport{
    width: device-width;
  }
  @-o-viewport{
    width: device-width;
  }
  body {
    margin: 0px 0px 0px 0px;
  }
  #header0{
    height:0px;
  }
  #header1{
    height:0px;
  }
  #header2{
    height:35px;
    background-image:url(/images/pix900.gif);
    background-position:0 0;
    background-repeat:no-repeat;
    padding-left:138px;
    padding-top:10px;
  }
  a.link1 { font-weight:bold; color: #DD6900; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif}
  .gallerie .vignette img:hover{ 
    text-decoration: none;
    width:400px; 
    margin-top:-50px;
    margin-left:-50px; 
    z-index:100; 
    border:6px solid rgba(0,0,0,0.7); 
  }
}

@media screen and (max-width: 412px){
  body {margin: 0px 0px 0px 0px;}
  #header0{
    height:35px;
    background-image:url(/images/pix412.gif);
    background-position:center;
    background-repeat:no-repeat;
  }
  #header2{text-align: center;}
  a.link1 { font-weight:bold; color: #DD6900; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif}
}

.link1 { font-weight:bold; color: #000000; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif}

.SectionIntroduction{
background-color: #F0F0F0; 
margin:10px;
padding:10px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #333333; text-align: justify; 
font-size: 10pt;
}

.gallerie {
background-color: #FFFFFF;
overflow:visible; 
}
.gallerie:after {
  content: ""; /* Important, sinon l'élément n'est pas généré. */
  display: table;
  clear: both;
}

.gallerie .vignette{ 
position:relative;
float:left;
//box-sizing: border-box;
width:200px;
height:200px;
margin-right:10px;
padding:10px;
list-style:none; 
}

.gallerie .vignette img{ 
border:1px solid rgba(0,0,0,0.7);
position:relative;
//position:absolute; 
width:200px;
height:auto;
margin-top:0px;
margin-left:0px; 
z-index:20; 
transition-property:width,height,z-index,margin,border; 
transition-duration:0.4s; 
} 

.gallerie .vignetteB{ 
position:relative;
width:200px;
margin-right:10px;
list-style:none; 
}

.gallerie .vignetteB img{ 
border:1px solid rgba(0,0,0,0.7);
position:relative;
//position:absolute;
margin-top:0px;
margin-left:0px; 
z-index:20; 
transition-property:width,height,z-index,margin,border; 
transition-duration:0.4s; 
} 

#Grandephoto {
  display: none;
  position:fixed;
  padding:10px;
  /* Pour décaler à gauche et en haut de 50% */
  left:50%;
  top:50%;
  z-index:120;
  border:1px solid rgba(0,0,0,0.7);
  background-color:#ffffff;
  background-position:top;
  background-repeat:no-repeat;
}

#Grandephoto img {
  background-color: rgba(0, 0, 0, 0.3);
  padding:10px;
}

#Grandephoto div{
  display:inline-block;
  vertical-align:middle;
}

#legende{
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;
}

#Photo{
  background-size: 100%;
}

#prec-in, #suiv-in {
  position:relative;
  margin:auto;
  width:100px;
  height:100%;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif; 
  color: rgba(0, 0, 0, 0);
  font-size: 30pt;
}

#prec-in{
  float:left; 
}

#suiv-in {
  float:right; 
}
#prec-in img, #suiv-in img{
  margin:auto;
}