html {background-color: #dddddd;}
BODY { background-color: #ffffff; text-decoration: none;
max-width:1200px;
margin:auto;
}

.link1 { font-weight:bold; color: #000000; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif}
a:hover { text-decoration: none; color : #DD6900; }

#header0{
height:121px;
background:url(http://ferrovia.free.fr/images/pix1.gif) no-repeat;
}

#header1{ 
height:121px;
background-image:url(http://ferrovia.free.fr/images/pix2.gif);
background-position:left;
}

#header2{
background-color: #FFFFFF;
height:35px;
background-image:url(http://ferrovia.free.fr/images/pix3b.gif);
background-position:left;
background-repeat:no-repeat;
padding-left:204px;}

.SectionIntroduction{
background-color: #F0F0F0; 
margin:10px;
padding:10px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #333333; text-align: justify; 
font-size: 10pt;
}

#gallerie {
background-color: #FFFFFF;
overflow:hidden; 
}
#gallerie:after {
  content: ""; /* Important, sinon l'élément n'est pas généré. */
  display: table;
  clear: both;
}

.vignette {
  margin: 0 0 0 10px;
  cursor: pointer;
  position:relative;
  float:left; 
  z-index:40;
}

.vignette img{ 
border:1px solid black;
}

#Grandephoto {
display: none;
position:fixed;
margin:auto;
top:0px;
left:0px;
right:0px;
bottom:0px;
border:1px solid blue;
text-align:center;
}

div.strut{
 display:inline-block;
 vertical-align:middle;
 height:100%;
}

div.bloc { 
  margin:0 10px;
  line-height:normal;
  display:inline-block;
  vertical-align:middle;
  text-align:left; 
  z-index:100;
}

div.bloc img {
background-color: rgba(0, 0, 0, 0.3);
padding:10px;
}